* {
    box-sizing: border-box;
}
  
/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}
  
.side {
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.menu {
    margin: 50px 0 0 0;
    padding: 0;
}

.side a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.side a:hover {
    background-color: #555;
    color: white;
}

.main {
    margin-left: 15%;
    margin-right: 0px;
}

.header {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #87CEEB;
}

.header h1 {
    padding: 40px;
}

.content {
    padding: 16px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .side {
        display: none;
    }
    .main {
        margin-left: 0px;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    margin: 10px;
    text-align: center;
}

.flex-container table {
	max-width: 350px;
}

.flex-container p {
	max-width: 350px;
}

.flex-container h3 {
	margin-top: 0px;
}

.flex-container h4 {
	margin-top: 0px;
}

table {
	border-collapse: collapse;
}
th {
  border-bottom: 2px solid black;
}
table td {
	padding: 5px;
}
table thead td {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
}
table tbody td {
	border-bottom: 1px solid #ddd;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

iframe {
  width: 100%;
  height: 600px;
  resize: both;
  overflow: auto;
}

/* ==================== Sortable  - from https://github.com/tofsjonas/sortable */
.sortable th:hover::after {
  color: inherit;
  font-size: 1.2em;
  content: '\00a0\025B8';
}

.sortable th::after {
  font-size: 1.2em;
  color: transparent;
  content: '\00a0\025B8';
}

.sortable th.dir-d::after {
  color: inherit;
  content: '\00a0\025BE';
}

.sortable th.dir-u::after {
  color: inherit;
  content: '\00a0\025B4';
}

th.no-sort {
  pointer-events: none;
}

th.no-sort::after {
  content: none;
}
/* ==================== End Sortable */